# Core App
streamlit==1.51.0

# Model and Transformers
transformers==4.46.2
torch==2.9.0
sentencepiece==0.2.1
safetensors==0.6.2
accelerate==1.11.0
protobuf==6.33.0

# Optional (for UI and stability)
beautifulsoup4==4.12.3
